<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Consultas</title>
</head>
<body>
<h1>Consultas Disponibles</h1>
<div class="buttons">
  <button onclick="location.href='/usuarios'">Ver Usuarios</button>
  <button onclick="location.href='/soportes'">Ver Soporte</button>
  <button onclick="location.href='/mantenimientos'">Ver Mantenimientos</button>
</div>
<div id="resultados" class="resultados">Haz clic en un botón para cargar los datos</div>

<!--||||||
<script src="/js/script.js"></script>
-->
</body>
</html>
