<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mantenimientos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Lista de Mantenimientos</h1>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>ID Soporte</th>
            <th>ID Usuario</th>
            <th>Tipo de Activo</th>
            <th>Razon del Mantenimiento</th>
            <th>Fecha del Mantenimiento</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mantenimiento : ${mantenimientos}">
            <td th:text="${mantenimiento.id_mantenimiento}"></td>
            <td th:text="${mantenimiento.id_soporte.id_soporte}"></td>
            <td th:text="${mantenimiento.id_usuario.id_usuario}"></td>
            <td th:text="${mantenimiento.tipo_activo}"></td>
            <td th:text="${mantenimiento.razon_mantenimiento}"></td>
            <td th:text="${mantenimiento.fecha_mantenimiento}"></td>
            <td th:text="${mantenimiento.observaciones}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button onclick="location.href='/index'">Regresar</button>
    </div>
</div>
</body>
</html>
