<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Soportes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Lista de Soportes</h1>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ciudad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="soporte : ${soportes}">
            <td th:text="${soporte.id_soporte}"></td>
            <td th:text="${soporte.nombre_soporte}"></td>
            <td th:text="${soporte.ciudad}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button onclick="location.href='/index'">Regresar</button>
    </div>
</div>
</body>
</html>
